body {
    font-family: "Raleway", sans-serif;
  }

.my-5 {
    text-align: center;
    color: black;
}
  
  /* Hero Section */
  
  .circular-square {
    border-radius: 50%;
  }

  #Hero-Section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-decoration: underline;
  }
  
 /* Sobre mi section */
 .display-3 .fw-bold .my-4 {
    color: rgb(111, 56, 111);
 }

  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #c61ec6;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  
  #Mis-trabajos {
    background-color: #c61ec6;
  }

  .button {
    border: 1px solid #000000; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #70126f; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/    
  }

  .bg-info {
    background-color: #c61ec6;
  }