body {
    font-family: "Raleway", sans-serif;
  }
  
  /* Hero Section */
  
  #Hero-Section {
    background-image: url("assets/img/𝑅𝑒𝒸𝓊𝑒𝓇𝒹𝒶𝓂𝑒 - 💖.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-decoration: underline;
  }
  
 /* Sobre mi section */
 .display-3 .fw-bold .my-4 {
    color: rgb(111, 56, 111);
 }

  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #c61ec6;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  
  