body {
    font-family: "Raleway", sans-serif;
  }
  
  /* Hero Section */
  
  #Hero-Section {
    background-image: url("/Users/usuario/Downloads/3745c3e50e0e529a2b4e0c78637e1ce3--caves.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-decoration: underline;
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #c61ec6;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  
  